<ion-view title="பாடல்கள் 1" id="page3">
  <ion-content padding="true" class="has-header">
    <div ng-init="videourl_video2=&quot;https://www.youtube.com/embed/NDgF4jtJDxE?rel=0&amp;showinfo=0&quot;" style="position:relative;overflow:hidden;padding-bottom:56.25%;height:0;" id="1-video2">
      <iframe src="{{videourl_video2}}" frameborder="0" allowfullscreen="" width="560" height="315" style="position:absolute;top:0;left:0;width:100%;height:100%;"></iframe>
    </div>
    <h4 id="1-heading2" style="color:#000000;text-align:center;">ஓடி விளையாடு பாப்பா</h4>
    <div id="1-markdown3" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Tamil cartoon story for kids from Kathu</p>
    </div>
    <div class="spacer" style="width: 300px; height: 53px;"></div>
    <div id="1-button-bar1" class="button-bar">
      <a ui-sref="page1()" id="1-button7" class="button button-positive button-block">1</a>
      <a ui-sref="2()" id="1-button8" class="button button-positive button-block">2</a>
      <a ui-sref="3()" id="1-button9" class="button button-positive button-block">3</a>
      <a ui-sref="page1()" id="1-button24" class="button button-positive button-block">4</a>
    </div>
  </ion-content>
</ion-view>