<ion-view title="Page" id="page2">
  <ion-content padding="true" class="has-header">
    <h4 id="page-heading1" style="color:#000000;font-weight:300;text-align:center;">என்னைப்பற்றி</h4>
    <ion-list id="page-list4">
      <ion-item class="item-icon-left" id="page-list-item9" href="tel:0126137151">
        <i class="icon ion-ios-telephone"></i>012-6137151</ion-item>
      <ion-item class="item-icon-left" id="page-list-item10" href="mailto:">
        <i class="icon ion-email"></i>senathi3481@gmail.com</ion-item>
      <ion-item class="item-icon-left" id="page-list-item11">
        <i class="icon ion-cloud"></i>www.cikgusena.blogspot.com</ion-item>
      <ion-item class="item-icon-left" id="page-list-item12">
        <i class="icon ion-ionic"></i>முகவரி</ion-item>
    </ion-list>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3985.4406977551535!2d101.74983671426321!3d2.684231356584413!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31cdeaff66fc7257%3A0x70e2120377d92ca2!2s2%2C+Lorong+Murni+15%2F3%2C+Taman+Murni+2%2C+43900+Sepang%2C+Selangor!5e0!3m2!1sen!2smy!4v1543638175720"
      width="100%" height="450" frameborder="0" style="border:0" allowfullscreen=""></iframe>
    <a ui-sref="page1()" id="page-button3" class="button button-positive button-block">முகப்புக்கு செல்</a>
  </ion-content>
</ion-view>