<ion-view title="பாரதியார்" hide-back-button="true" id="page1">
  <ion-content padding="false" class="has-header">
    <div>
      <img src="img/QT4WGJwTA6h1vtfr56MB_1-300x200.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <ion-list id="page1-list3">
      <ion-item class="item-icon-left assertive" id="page1-list-item5">
        <i class="icon ion-ionic"></i>சுப்ரமணிய பாரதி</ion-item>
      <ion-item class="item-thumbnail-left" id="page1-list-item4">
        <img src="img/ZYSZHU2Tw2wknYJIHdAD_P1060344.JPG">
        <h2>வரலாறு</h2>
        <p>பாரதியாரின் வாழ்க்கைக் குறிப்பு </p>
      </ion-item>
      <ion-item class="item-thumbnail-left" id="page1-list-item6" ui-sref="1()">
        <img src="img/byQetxQSlyAkYjmKf668_5711.jpg">
        <h2>படைப்புகள்</h2>
        <p>பாரதியார் இயற்றிய பாடல்களும் கவிதைகளும்</p>
      </ion-item>
      <ion-item class="item-thumbnail-left" id="page1-list-item7">
        <img src="img/r9fjKDuUQNOfi2CJRXjV_6334.jpg">
        <h2>இதழியல் பணி</h2>
        <p> சக்கரவர்த்தினி என்ற மகளிர் மாத இதழிலும் </p>
      </ion-item>
    </ion-list>
    <a ui-sref="page()" id="page1-button2" class="button button-royal button-full">என்னைப் பற்றி</a>
  </ion-content>
</ion-view>